<div class="todo-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Todo List</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <app-todo-form (addTodo)="onAddTodo($event)"></app-todo-form>

      <div *ngIf="loading$ | async" class="loading-spinner">
        <mat-spinner diameter="40"></mat-spinner>
      </div>

      <mat-list>
        <app-todo-item
          *ngFor="let todo of todos$ | async"
          [todo]="todo"
          (toggleTodo)="onToggleTodo($event)"
          (deleteTodo)="onDeleteTodo($event)">
        </app-todo-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
